:root {
  
  --primary: #4f46e5;
  --secondary: #10b981;
  --accent: #f59e0b;


  --background: #2F7FBF;
  --surface: #0B2D4A;
  --text: #FDFDFC;
  --muted: #B7D7EE;

 
  --border-radius: 8px;

  
  --success: #22c55e;
  --danger: #ef4444;
  --warning: #facc15;

 
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-title: "Poppins", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

}

*{
  margin: 0px;
  padding: 0px;
  font-family: var(--font-sans);
  
}

/* Animação de entrada da Navbar ao carregar a página */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.erro-carregamento{
  font-family: var(--font-title);
  color: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 40px 0;
  gap: 10px;
}
.icone-erro-carregamento{
  color: red;
}

